[submodule "bundle/deoplete-jedi"]
	path = bundle/deoplete-jedi
	url = https://github.com/zchee/deoplete-jedi
[submodule "bundle/coconut-vim"]
	path = bundle/coconut-vim
	url = https://github.com/manicmaniac/coconut.vim
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "bundle/elm-vim"]
	path = bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule "bundle/neco-syntax"]
	path = bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax
[submodule "bundle/vim-qml"]
	path = bundle/vim-qml
	url = https://github.com/peterhoeg/vim-qml
